.page-menu {
  // display: block;
  width: auto;

  @media only screen and (min-width: $lg) {
    width: 30vw;
    height: 100vh;

    left: 0;
    top: 0;
    margin-top: 1rem;
    position: fixed;
    z-index: 10;

    //display: table-cell;

    overflow-y: auto; // auto;
    // top: 160px;

    &--sticky {
      position: relative;
      top: 0;
      width: max-content;
      height: auto;
    }
  }

  padding-bottom: 1.3rem;

  &__close-button {
    display: none;
    @media only screen and (min-width: $lg) {
      display: block;
      background-color: #111;
      color: white;
      margin-bottom: 0.5rem;
      right: 0px;
      font-size: 20px;
      padding: 5px 15px;
      border-radius: 50%;
      &:after {
        content: '\00d7'; // equivalent of &times;
      }
    }
  }

  &__open-button {
    display: none;
    @media only screen and (min-width: $lg) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;

      &__item {
        position: fixed;
        right: 0;
        z-index: 10;
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border-radius: 50%;
        border: none;
        &:after {
          content: '\2630'; // equivalent of &#9776;
        }
      }
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    background-color: rgb(255, 255, 255);

    border: 2px solid #33332d;

    &:not(:last-child) {
      border-bottom: none;
    }

    cursor: pointer;
    padding: 0.5rem;
    position: relative;

    z-index: 10;
    overflow: hidden;
    border-radius: 0 50px 50px 0;

    &:hover {
      background-color: $tertiary-color;
      color: $secondary-color !important;
    }

    &--selected {
      background-color: $tertiary-color;
      color: $secondary-color !important;
    }
  }
}
