// inspired by : https://codepen.io/jupago/pen/dwZKbM

/* Blockquote main style */
.quote {
  display: flex;
  // padding left and right
  padding: 0 20px;
  padding-top: 30px;
  // to always see the quote below
  padding-bottom: 60px;

  height: 100%;
  width: 100%;
  max-width: 100vw;
  justify-content: center;

  &__content {
    position: relative;
    color: $secondary-color;
    // padding top & bottom
    padding: 30px 0;

    align-self: flex-start; //center;
    border-top: solid 1px;
    border-bottom: solid 1px;

    /* Blockquote header */
    h3 {
      position: relative;
      color: $secondary-color;
    }

    /* Blockquote subheader */
    h4 {
      position: relative;
      color: $tertiary-color;
      margin: 0;
      padding-top: 20px;
      //z-index: 1;
      /* Add a dash for the subheader*/
      &:before {
        content: "— ";
      }
    }

    /* Blockquote right double quotes */
    &:after {
      position: absolute;
      content: "”";
      color: $secondary-color;
      font-size: 10rem;
      line-height: 0;
      bottom: -43px;
      right: 30px;
    }
  }
}
