* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // reset margin within elements such as h1, ul...
  /*
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;*/
}
