.page {
  // deal with all text written directly within the .mdx files, without calling react components (or html)
  // it is considered that a text written with HTML shall start with a Section tag
  &--auto-margin {
    padding: 1rem;
    ul {
      padding-left: 1.3rem;
      padding-right: 1.3rem;    
    }
  }

  a {
    color: $tertiary-color;
    cursor: pointer;

    &:hover,
    &:focus {
      color: lighten($tertiary-color, 20%);
    }
  }

  table {
    border-collapse: collapse;
    margin-top: 0.5rem;

    th,
    td {
      border: thin solid grey;
      padding: 0.2rem;
      text-align: left;
      vertical-align: top;
    }
  }
}
