.page {
  // deal with all text written directly within the .mdx files, without calling react components (or html)
  // it is considered that a text written with HTML shall start with a Section tag
  // display:table;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  &--auto-margin {
    padding: 1rem;
    ul,
    ol {
      padding-left: 1.3rem;
      padding-right: 1.3rem;
      margin-bottom: 1rem;
      line-height: 1.5;
    }
  }

  @media only screen and (min-width: $lg) {
    width: auto;
    &:has(.page-menu) { // unfortunately does not work yet for Firefox !!!
      margin-left: 30vw;
    }

    &:has(.page-menu--sticky) {
      margin-left: 0;
    }

    &--visible-internal-menu{
      margin-left: 30vw;
    }
  }

  a {
    color: $tertiary-color;
    cursor: pointer;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    hyphens: auto;

    &:hover,
    &:focus {
      color: lighten($tertiary-color, 20%);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.5;
    // text-align: justify;
  }

  p + ul {
    margin-top: -1rem;
  }

  table {
    border-collapse: collapse;
    margin-top: 0.5rem;

    th,
    td {
      border: thin solid grey;
      padding: 0.2rem;
      text-align: left;
      vertical-align: top;
      min-width: 3rem;
    }
  }

  pre {
    margin-bottom: 1rem;
  }

  figcaption {
    font-style: italic;
    opacity: 0.7;
    margin-bottom: 1rem;
  }

  caption {
    font-style: italic;
    opacity: 0.7;
  }
}
